*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
#container{
    margin : 0 auto;
    width : 1200px;
}
header{
    width : 100%;
    height : 100px;
    background-color: #07c;
}
#logo{
    float : left;
    width : 250px;
    height : 100px;
    line-height: 100px;
    padding-left : 30px;
}
nav{
    float : right;
    width : 900px;
    height : 100px;
    background-color: green;
}
#slideShow{
    clear : both;
    width : 100%;
    height : 300px;
    background-color: orange;
    /* overflow: hidden; 왜다는지 알고 주석 취소 */
}
#contents{
    width : 100%;
    height : 300px;
}
#tabMenu{
    float : left;
    width : 600px;
    height : 100%;
    background-color: violet;
}
#links{
    float : right;
    width : 600px;
    height : 100%;
    background-color: skyblue;
}
footer{
    width : 100%;
    height : 100px;
    background-color: gray;
}
a{
    text-decoration: none;
}
#logo h1{
    font-weight: 700;
    font-size : 40px;
    color : #fff
}
