*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    /* 박스 사이즈를 측정할 때에 padding을 고려하여 계산해서 보여준다. */
}
ul{
    list-style: none;
}
#container{
    margin : 0 auto;
    width : 1200px;
}
header{
    width : 100%;
    height : 100px;
    background-color: #07c;
}
#logo{
    float : left;
    width : 250px;
    height : 100px;
    line-height: 100px;
    padding-left : 30px;
}
nav{
    float : right;
    width : 900px;
    height : 100px;
}
#topMenu{
    height : 60px;
}
#topMenu > li{
    float : left;
    /* 하위 ul 태그들은 부모 li 태그의 플로팅에 따라간다. */
    position : relative;
}
#topMenu > li > a{
    display : block;
    /* 블록으로 지정하면 인라인 태그인 a 태그의 좁은 클릭 범위가 아니라 넓은 li태그의 범위만큼 클릭이 가능해진다. */
    color : #fff;
    font-weight : 600;
    margin : 20px 60px;
    /* 왜 예시코드에서는 padding을 준지 모르겠다. 메뉴 사이의 간격이라면 margin이 맞지 않을까? */
}
#topMenu > li > a > span{
    font-size : 0.5em;
}
#topMenu > li > a:hover{
    color : #000;
}
#slideShow{
    clear : both;
    width : 100%;
    height : 300px;
    background-color: orange;
    /* overflow: hidden; 왜다는지 알고 주석 취소 */
}
#contents{
    width : 100%;
    height : 300px;
}
#tabMenu{
    float : left;
    width : 600px;
    height : 100%;
    background-color: violet;
}
#links{
    float : right;
    width : 600px;
    height : 100%;
    background-color: skyblue;
}
footer{
    width : 100%;
    height : 100px;
    background-color: gray;
}
a{
    text-decoration: none;
}
#logo h1{
    font-weight: 700;
    font-size : 40px;
    color : #fff
}

/* TODO{
    nav 하위 메뉴 구현
} */